* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}


/* nav */
.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(37, 94, 233);
    color: white;
    font-size: 14px;

}

.container-nav--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

.button {
    padding: 9px;
    border-radius: 50px;
    border: none;
}

#nav-button {
    background-color: white;
    width: 60px;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 11% 0%;
}

.titles {
    font-size: 38px;
    font-weight: bold;
}

.grey {
    width: 47%;
    line-height: 55px;
}

.bloc-text-paragraph--right {
    padding: 2% 43% 0% 0%;
    line-height: 25px;
}

.bloc-text-paragraph--left {
    width: 60%;
    line-height: 25px;
    padding-top: 4%;
}

#hero-paragraph {
    padding: 2% 30% 1% 30%;
    line-height: 25px;
}

#hero-button-left {
    background-color: white;
    color: black;
}

#hero-button-right {
    background-color: rgb(30 30 30);
    color: white;
}

/* main part */

.container-bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
}

#container-bloc-grey {
    background-color: rgb(242 242 242);
}

.bloc-img--left {
    width: 55%;
    text-align: right;
}

.bloc-img--right {
    width: 55%;
    text-align: left;
}

#bloc-text-first {
    width: 45%;
}

#bloc-text-second {
    width: 45%;
    padding-bottom: 9%;
    padding-left: 10%;
}

#bloc-text-third {
    width: 45%;
    padding-bottom: 7%;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 4% 0%;
}

#bottom-text-paragraph {
    padding: 1% 23%;
    line-height: 25px;
}

#bottom-text-bottom {
    width: 35%;
}

#bottom-text-title {
    font-size: 20px;
    font-weight: bold;
    background-image: url(img/stars.svg);
    padding: 5% 5% 0% 0%;
}

.bottom-button--color {
    color: white;
    background-color: rgb(111 114 222);
}

#margin {
    margin: 10% 0% 10% 0%;
}

.margin-bottom {
    margin-top: 1%;
}

/* footer */

.container-footer {
    background-color: rgb(27 28 24);
    padding-top: 3%;
    color: white;
}

.container-footer-upperpart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgb(111 114 222);
    width: 80%;
    margin: auto;
    font-size: 13px;

}

#footer-upperpart-left {
    display: flex;
    flex-direction: column;
}

.footer-titles--color {
    color: rgb(111 114 222);
    font-weight: bold;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 13px;
    padding-bottom: 3%;
    width: 18%;
}

#footer-title {
    font-size: 30px;
}

#img-footer {
    width: 10%;
}

.social-size {
    font-size: 20px;
    padding-right: 3%;
}

.container-footer-bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}



/* DEBUG !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* .container-nav {
    background-color: aqua;
} */

/* .container-hero {

    height: 400px;
} */
/* 
.container-bloc {
    background-color: rgb(45, 165, 115);
    height: 500px;

} */

/* .bloc-img,
.bloc-text {
    border: 1px solid;
    height: 100%;
} */

/* .container-bottom {
    background-color: blueviolet;
    height: 500px;
    text-align: center;
}

.container-footer {
    background-color: rgb(8, 67, 24);
    height: 500px;
} */