* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 3000px;
}

header {
    height: 20%;
}

/* nav */
.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: rgb(37, 94, 233);
    color: white;
    font-size: 14px;

}

.container-nav--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

.button {
    padding: 9px;
    border-radius: 50px;
    border: none;
}

#nav-button {
    background-color: white;
    width: 60px;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 90%;
}

.titles {
    font-size: 38px;
    font-weight: bold;
}

.grey {
    width: 60%;
    line-height: 55px;
}

.bloc-text-paragraph {
    padding: 6% 40% 0% 0%;
    line-height: 30px;
}

#hero-paragraph {
    padding: 2% 30% 1% 30%;
    line-height: 25px;
}

#hero-button-left {
    background-color: white;
    color: black;
}

#hero-button-right {
    background-color: rgb(30 30 30);
    color: white;
}

/* main part */

main {
    height: 70%;
}

.container-bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25%;

}

.bloc-img--left {
    width: 60%;
    text-align: right;
}

.bloc-text {
    width: 40%;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

/* footer */
.container-footer-upper-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid;
    width: 80%;
    margin: auto;

}

ul {
    list-style-type: none;
}

.container-footer-bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

/* DEBUG !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* .container-nav {
    background-color: aqua;
} */

/* .container-hero {

    height: 400px;
} */
/* 
.container-bloc {
    background-color: rgb(45, 165, 115);
    height: 500px;

} */

/* .bloc-img,
.bloc-text {
    border: 1px solid;
    height: 100%;
} */

/* .container-bottom {
    background-color: blueviolet;
    height: 500px;
    text-align: center;
}

.container-footer {
    background-color: rgb(8, 67, 24);
    height: 500px;
} */